body {
  background-color: #181820;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 65px;
  width: 100%;
  background-color: #000;
}
.ground {
  position: fixed;
  bottom: 25px;
  margin: 0 9px;
  left: 0;
  height: 1px;
  width: calc(100% - 18px);
  background-color: #fff;
}
.score {
  position: fixed;
  top: 30px;
  right: 30px;
  font-size: 1.5em;
  font-family: Verdana;
  transition: all 0.7s ease-in;
  color: #fff;
}

.score.highlight {
  font-size: 2em;
  color: green;
  transition: none;
}
